# build directories
cmake-build-*/
build/
out/
bin/

# imgui saved state
imgui.ini

# Since ".obj" are ignored by default, we force them to be added
!assets/models/**/*.obj

# Visual Studio specific files
CMakeSettings.json
.vs/

# Clean specific files
.idea/

# Visual Studio Code specific files
.vscode/

# Screenshots
screenshots/

# instructions
instructions.md
instructions.pdf
Team_07.pdf
how-to-run.txt
